body {
    margin: 0;
    text-align: center;
    font-family: 'Lexend', sans-serif;
}
body{
    background-color: #322F3D;
    color: #87556F; 
}

.navbar-div{
    background-color: #322F3D;
}
.navbar-textcolor{
    --bs-nav-link-color: #87556F;
    --bs-navbar-brand-color: #87556F;
}
.navbar-title{
    margin-left: 20px;
    font-family: 'Popins', sans-serif;
    font-weight: 600;
}
.navbar-collapse{
    padding-right: 20px;
}